<h1>Links</h1>
<div class="row cards">

  <% @urls.each do |url| %>
    <% if url.try(:preview) %>
      <div class="col-xs-6 col-sm-3 col-md-6">
        <a href="<%= url.path %>" target="_blank" class="embedly-card">
          <div class="card-load">
            <%= icon 'spinner', '', class: 'fa-spin fa-2x' %>
          </div>
        </a>
        <%= link_to url, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <%= icon('close', '', class: 'btn text-muted pull-right') %>
          <% end %>
      </div>
    <% end %>
  <% end %>

</div>
