<ul>
  <% @tag_collections.each do |tag_collection| %>
    <li><%= link_to tag_collection.tags.map(&:name).join(', '), links_path(tags: tag_collection.tags.map(&:name).join(',')) %></li>
  <% end %>
</ul>
