<% if @scoped_user %>
  <h1>@<%= @scoped_user.username %> <small><%= params[:tags].present? ? params[:tags] : 'All links' %></small></h1>
<% end %>

<div id="masonry-container" class="cards transitions-enabled">
  <%= render @links %>
</div>

