<% if @scoped_user %>
  <h1>@<%= @scoped_user.username %> <small><%= params[:tags].present? ? params[:tags] : 'All links' %></small></h1>
<% end %>

<div class="row cards">
  <div id="masonry-container" class="transitions-enabled infinite-scroll clearfix ">
    <%= render @links %>
  </div>
</div>

