/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {

  .link-input, #show-tags {
    display: block;
    visibility: visible;
  }

  .header {
    .input-group {
      margin-top: 25px;
    }

    .sign-in-btns {
      .btn {
        font-size: 14px;
      }
    }
  }

  .cards {
    margin-left: 0px;
    margin-right: 0px;

    .link-media {
      padding-right: 15px;
    }
    .title {
      font-size: 14px;
    }
  }

  .card {
    &:hover {
      -webkit-transform: translateY(-4px);
      -moz-transform: translateY(-4px);
      -o-transform: translateY(-4px);
      -ms-transform: translateY(-4px);
      transform: translateY(-4px);
      -webkit-box-shadow: 0 6px 7px rgba(0,0,0,0.25),0 24px 48px rgba(0,0,0,0.25);
      box-shadow: 0 6px 7px rgba(0,0,0,0.25),0 24px 48px rgba(0,0,0,0.25);
      z-index: 2;
    }

    .panel-body {
      padding: 15px;
    }
  }

  .user-nav {
    .btn {
      padding: 21px;
      margin-right: 0px;

      span {
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }

  .tag-container {
   visibility: visible;
   display: block;
  }
}
