// Place all the styles related to the urls controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header {
  background: $brand-primary;
  padding-left: 15px;
}

.secondary-header {
  background: $brand-darken;
  padding: 15px;
}

a:hover {
  text-decoration: none;
}

.cards {
  .card-load {
    @extend .text-center;
    @extend .panel;
    @extend .panel-default;

    padding-top: 130px;
    min-height: 280px;
    background: #f8f8f8;
  }

  a {
    color: #222;
  }
}

.card {
  @extend .paper-shadow;
  @extend .relative;

  a {
    color: #222;
  }

  &:hover {
    .lead-img, .title, .description {
      opacity: 0.6;
    }
  }

  .label-link {
    display: inline-block;
    margin-top: 5px;
    margin-right: 4px;
  }
}

.vote {
  @extend .pull-right;

  text-align: right;

  .badge {
    color: #fff;

    a {
      color: #fff;
    }
  }
}

.voted {
  &:before {
    @extend .fa;

    color: $brand-primary;
    content: "\f00c";
  }
}

.title {
  @extend .h2;
  @extend .text-uppercase;
}

.tags {
  @extend .relative;

  .edit-tags {
    @extend .absolute;

    right: 0;
    top: 0;
    display: none;
  }

  &:hover {
    .edit-tags {
      display: block;
    }
  }
}

.description {
  word-wrap: break-word;
}

.panel-title {
  font-size: 14px;
}

.login-form {
  .actions {
    small {
      margin: 9px;
    }
  }
}

.opacity-hover {
  &:hover {
    opacity: 0.6;
  }
}

.header {

  .input-group {
    margin-top: 40px;
  }

  .help-block {
    color: #eee;
  }
}

.btn-primary {
  color: #eee;
  border-color: #eee;
}

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

.filter {
  .select2-container .select2-choices, .form-control {
    box-shadow: none !important;
    border: 0 !important;
    background-color: transparent !important;
  }
}

.comments {
  margin-top: 15px;
}

.comment {
  .comment-body {
    padding-top: 15px;
  }

  .btn-xs {
    padding-left: 0px;
    visibility: hidden;
  }

  &:hover {
    .btn-xs {
      visibility: visible;
    }
  }
}

.comment-parent {

}

.comment-child {
  margin-top: 10px;
  border-top: 1px solid #ccc;
}

.btn-facebook {
  @extend .btn-default;

  color: #fff;
  background: #3a5795;
  border-color: #133783;

  &:hover {
    color: #fff;
    background: #133783;
  }
}

@media (min-width: 992px) {
  .box {
    width: 24.9%;
  }
}
