$brand-primary:           #27ae60;
$brand-success:           #27ae60;
$brand-darken:            lighten(#bdc3c7, 10%);

$font-size-h2:            18px;

$body-bg:                 #ecf0f1;

$font-family-sans-serif:  "Hind", Helvetica, Arial, sans-serif !default;
$font-family-base:        $font-family-sans-serif !default;
$headings-font-weight:    600 !default;
$headings-line-height:    1.2 !default;
