$brand-primary:           #9d2362;
$brand-success:           #f1c40f;

$font-size-h2:            18px;

$font-family-sans-serif:  "Hind", Helvetica, Arial, sans-serif !default;
$font-family-base:        $font-family-sans-serif !default;
$headings-font-weight:    600 !default;
$headings-line-height:    1.2 !default;
